<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="org.phci" />

    <bean id="restTemplate" class="org.springframework.web.client.RestTemplate">
        <constructor-arg>
            <bean class="org.springframework.http.client.HttpComponentsClientHttpRequestFactory">
                <property name="readTimeout" value="630000" />
                <property name="connectTimeout" value="30000" />
            </bean>
        </constructor-arg>
        <property name="messageConverters">
            <list>
                <bean class="org.springframework.http.converter.FormHttpMessageConverter"/>
                <bean class="org.springframework.http.converter.StringHttpMessageConverter"/>
                <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"/>
                <bean class="org.springframework.http.converter.ByteArrayHttpMessageConverter"/>
                <bean class="org.springframework.http.converter.json.GsonHttpMessageConverter"/>
            </list>
        </property>
    </bean>

    <bean id="bookDao" class="org.phci.core.model.book.RestTemplateBookDao">
        <property name="restTemplate" ref="restTemplate"/>
    </bean>

    <bean id="accountDao" class="org.phci.core.model.account.RestTemplateAccountDao">
        <property name="restTemplate" ref="restTemplate"/>
    </bean>

    <bean id="cartDao" class="org.phci.core.model.cart.RestTemplateCartDao">
        <property name="restTemplate" ref="restTemplate"/>
    </bean>

    <bean id="orderDao" class="org.phci.core.model.order.RestTemplateOrderDao">
        <property name="restTemplate" ref="restTemplate"/>
    </bean>

    <bean id="favoriteDao" class="org.phci.core.model.favorite.RestTemplateFavoriteDao">
        <property name="restTemplate" ref="restTemplate"/>
    </bean>

    <bean id="newsDao" class="org.phci.core.model.news.RestTemplateNewsDao">
        <property name="restTemplate" ref="restTemplate"/>
    </bean>

</beans>